* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0; }

.contenedorJuegos{
    background-color: #11131a;
    width: 300px;
    height: 350px;
    margin: 100px;
    border-radius: 3rem;
}
.contenedor{
    display: flex;
    flex-flow: row wrap;
}
.contenedor a{
    text-decoration: none;
}
.circulo1, .circulo2{
    /* background-color: rgb(53, 53, 245); */
    width: 175px;
    height: 175px;
    border-radius: 6rem;
    margin: 62.5px;
    display: flex;
    background-image: url(../imagenes/Icono1.jpg);
    background-size: cover;
}
.circulo2{
    background-image: url(../imagenes/icono2.jpg);
    background-size: cover;
    /* background-position-y: 5px; */
    background-position-x: -22px;
}
.contenedorJuegos h3{
    color: antiquewhite;
    text-align: center;
    padding: 10px;
}
header{
    font-size: 25px;
}
.jugador{
    height: 200px;
    width: 200px;
}